<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id='app'>
    <ul>
      <li v-for="item in letters">{{item}}</li>
      <!-- 这里绑了一个key,使中间插入值时,可以降低占用的性能(防止插入元素之后的元素位移) -->
      <li v-for="item in letters" :key="item">{{item}}</li>
    </ul>
  </div>
  
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',  //用于挂载要管理的元素
      data: { //数据
        letters: ['A','B','C','D','E']
      }
    })
  
  </script>
</body>
</html>